<header>
  <img src="assets/img/joao.jpg" alt="João Marcos - Foto de perfil" width="130px" height="130px" loading="eager" />

  <h1>João Marcos</h1>
</header>

<aside>
  <div class="container">
    <p>Desenvolvedor frontend Angular | Rxjs | Typescript | JavaScript</p>
    <p>São José dos Campos, São Paulo, Brasil</p>
    <p>
      Busco minha primeira oportunidade como Desenvolvedor Front-End Júnior com foco em Angular. Tenho me dedicado à formação na área por meio de cursos e Bootcamps, incluindo o Santander Coders 2023 (Ada Tech) e formações Angular na DIO, totalizando mais de 110 horas de aprendizado. Quero aplicar meus conhecimentos em um ambiente colaborativo, contribuir com a equipe e evoluir profissionalmente na área de desenvolvimento front-end.
    </p>

    <nav>
      <ul>
        <li>
          <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">Download Cv</a>
        </li>

        <li>
          <a
          href="https://www.linkedin.com/in/joaomarcosrodrigues/" target="_blank" class="btn btn-secondary">
            LinkedIn
          </a>
        </li>
      </ul>
    </nav>

    <section>
      <figure>
        <img src="assets/icons/whatsapp.svg" alt="Icone para contato do whatsApp"
        width="22px"
        height="24px"
        >

        <figcaption>
          <a href="https://wa.me/5512982268834?text=Ol%C3%A1%20Jo%C3%A3o%2C%20tudo%20bem%20%3F%20tenho%20uma%20proposta%20de%20trabalho!
          " target="_blank">
          <strong>Envie uma mensagem para:</strong>
          <p>whatsApp: (12) 98226-8834</p>
        </a>
        </figcaption>

        <figcaption>
          <a href="mailto:j_donizetti@outlook.com" target="_blank">
          <strong>Envie um e-mail para:</strong>
          <p>j_donizetti&#64;outlook.com</p>
        </a>
        </figcaption>
      </figure>
    </section>
  </div>
</aside>
